<div class="dialog-header">
    <div class="dialog-close">
      <button mat-button mat-dialog-close>X</button>
    </div>
    <div class="dialog-title">
      <h2>histórico de pesos</h2>
    </div>
  </div>
  <div class="dialog-conteiner">
    <mat-dialog-content>
        <div>Brinco do animal: {{brincoAnimal}}</div>
        <div id="chart_div">
            <div #ComboChart></div>
        </div>
    </mat-dialog-content>
    <hr>
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="true">Fechar</button>
    </mat-dialog-actions>
</div>