.container {
    padding: 20px;
    background-color: lightgrey;
}

form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

form > div {
    margin-bottom: 10px;
}

.check {
    align-items: flex-end;
    display: flex;
}

input {
    width: 100%;
}

.title {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
}

.btn {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    margin-top: 20px;
}

.btn > button {
    width: 10%;
    height: 40px;
    color: #ffff;
    background-color: #007bff;
    border-radius: 5px;
    border: none;
} 

@media (max-width: 500px) {
    form {
        grid-template-columns: 1fr 1fr;
    }

    .title {
        grid-column-end: 3;
    }

    .btn {
        grid-column-end: 3;
    }

    .btn > button {
        width: 20%;
    } 
}

@media (min-width: 501px) and ( max-width: 800px) {
    form {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .title {
        grid-column-end: 4;
    }

    .btn {
        grid-column-end: 4;
    }

    .btn > button {
        width: 20%;
    } 
}