<div id="historico-list">
    <div class="brinco-animal">
        <div class="form-group">
            <mat-label>Brinco do animal</mat-label>
            <div id="suino">
                <mat-select id="combo-suino" placeholder="Selecione..." (valueChange)="carregarHistorico($event)">
                    <mat-option value="">Selecione...</mat-option>
                    @for (suino of suinosList; track suino) {
                        <mat-option [value]="suino.id">{{suino.brincoAnimal}}</mat-option>
                    }
                </mat-select>
            </div>
        </div>

        <div class="graficos">
            <div class="pesagem">
                <button mat-button color="primary" 
                    [disabled]="!historicoCarregado" 
                    (click)="historicoCarregado ? pesoHistorico() : null"
                >Histórico de pesos</button>
            </div>
            <div class="atividade">
                <button mat-button color="primary" 
                    [disabled]="!historicoCarregado"
                    (click)="historicoCarregado ? sessaoHistorico() : null"
                >Histórico de atividades</button>
            </div>
        </div>
    </div>
    <div class="content" *ngIf="historicoCarregado">
        <div class="historico-animal">
            <div class="spinner loading" *ngIf="spinner">
                <mat-spinner></mat-spinner>
            </div>
            <app-historico-animal-list 
                [historicoAnimalList]="historicoAnimalList"
            >
            </app-historico-animal-list>
        </div>
    </div>
</div>
