<div id="sessao-list">
    <div class="header">
      <h2>Lista de sessões</h2>
      <div class="button-container">
        <button mat-button color="primary" (click)="openDialog()">Cadastrar sessão</button>
      </div>
    </div>
    <div class="content">
        <!-- <app-sessao-search class="row-1"></app-sessao-search> -->
        <div class="spinner loading" *ngIf="!spinner">
          <mat-spinner></mat-spinner>
        </div>
        <app-sessao-list class="row-2"></app-sessao-list>
    </div>
</div>