<div class="container">
    <div>
        <a (click)="produtos()">Continuar comprando</a>
    </div>
    <div class="header">
        <h1>Carinho de compras</h1>
        <a (click)="desmarcarTodos()">Desmarcar todos os itens</a>
    </div>
    <div class="header-price">
        <div>
            <span>Preço</span>
        </div>
        <hr>
    </div>
    <div *ngIf="listaItensCarrinho().length > 0; else empty">
        <div *ngFor="let item of listaItensCarrinho(); let i = index">
            <div class="items">
                <div class="checkbox">
                    <mat-checkbox [id]="'check'+item.id.toString()" [checked]="item.quantity > 0" 
                        (change)="updateCheckbox(item, $event.checked)">
                    </mat-checkbox>
                    
                </div>
                <div class="image">
                    <img src="{{item.imgURL}}" alt="{{item.name}}">
                </div>
                <div class="details-group">
                    <div class="details">
                        <div class="name">
                            {{item.name}}
                        </div>
                        <div class="price">
                            {{item.price | currency: 'R$ ' }}
                        </div>
                    </div>
                    <div class="amount">
                        <div class="form-group">
                            <mat-label>Qtd:</mat-label>
                            <div id="qtd">
                                <mat-select [(value)]="item.quantity" (valueChange)="updateQuantity(item, $event)">
                                    @for (qtde of quantidades(); track qtde) {
                                        <mat-option [value]="qtde">{{qtde}}</mat-option>
                                    }
                                </mat-select>
                            </div>
                        </div>
                        <div class="action">
                            <a (click)="excluir(item)">Excluir</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subtotal">
            <hr>
            <div>
                <span>Subtotal {{qtdeItens}}</span> <span class="price">{{total() | currency: 'R$ ' }}</span>
            </div>
        </div>
    </div>
    <ng-template #empty>
        <div class="empty">
            Carrinho vazio
        </div>
    </ng-template>
</div>